// Fonts family 
.ProximaNova {
    font-family: $ProximaNova;
}
.ProximaNova-Bold {
    font-family: $ProximaNova-Bold;
}
.ProximaNova-Extrabold {
    font-family: $ProximaNova-Extrabold;
}

// Fonts colors
.black-color {
    color: $black-color;
}
.dark-purple-color {
    color: $dark-purple-color;
}
.orange-color {
    color: $orange-color;
}
.cyan-color {
    color: $cyan-color;
}
.dodger-color {
    color: $dodger-color;
}
.gray-color {
    color: $gray-color;
}
.alice-blue-color {
    color: $alice-blue-color;
}
.white-color {
    color: $white-color;
}
.whirlpool-color {
    color: $whirlpool-color;
}

// Fonts size
.font-15 {
    font-size: $font-15;
}
.font-16 {
    font-size: $font-16;
}
.font-18 {
    font-size: $font-18;
}
.font-20 {
    font-size: $font-20;
}
.font-30 {
    font-size: $font-30;
}
.font-102 {
    font-size: $font-102;
}

// Background colors
.bg-dark-purple-color {
    background-color: $dark-purple-color;
}
.bg-orange-color {
    background-color: $orange-color;
}
.bg-cyan-color {
    background-color: $cyan-color;
}
.bg-dodger-color {
    background-color: $dodger-color;
}
.bg-gray-color {
    background-color: $gray-color;
}
.bg-alice-blue-color {
    background-color: $alice-blue-color;
}
.bg-white-color {
    background-color: $white-color;
}
.bg-whirlpool-color {
    background-color: $whirlpool-color;
}
.hidden {
    display: none;
}