/**
 * Standard Variables Classes
 * =================================
 */

// Fonts family
$ProximaNova: 'ProximaNovaRegular';
$ProximaNova-Bold: 'ProximaNova-Bold';
$ProximaNova-Extrabold: 'ProximaNova-Extrabold';

// Colors
$black-color: #000000;
$dark-purple-color: #23123a;
$orange-color: #fa6e3d;
$cyan-color: #59d8d1;
$dodger-color: #1194f6;
$gray-color: #373737;
$alice-blue-color: #f1f5f8;
$white-color: #ffffff;
$edeff0: #edeff0;
$whirlpool-color: #7f949c;

// Fonts size 
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-30: 30px;
$font-102: 102.18px;